In [18]:
first_string = "Python is"
second_string = " powerfull"
third_string = "Language"
type(first_string)

str

In [23]:
print (first_string +" " + "a" + second_string + " " + third_string)

Python is a powerfull Language

In [27]:
print( " Day" * 100)

 Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day Day

In [28]:
print("+" * 50)
print("                     DO NOT LOGIN                ")
print("=" * 50)

++++++++++++++++++++++++++++++++++++++++++++++++++
                     DO NOT LOGIN
==================================================

In [30]:
S1=str(line_1)
S2=str(line_2)
print(S1+S2)

Day2

In [33]:
# LIST AND ITS COMMANDS
#append is used to Edit the list
#insert is used to insert an entry in to the list on a specific index in the list
#extend is used to insert more than one entries to an existing list or making a list with multiple entries.

In [37]:
Week_days = []
Week_days

[]

In [39]:
Week_days.append ("Monday")

In [40]:
Week_days

['Monday']

In [41]:
Week_days.append ("Tuesday")

In [42]:
Week_days.append ("Wednessday")

In [43]:
Week_days

['Monday', 'Tuesday', 'Wednessday']

In [44]:
Week_days.append ("Thursday")

In [45]:
Week_days.append ("Friday")

In [46]:
Week_days.append ("Saturday")

In [47]:
Week_days.append ("Sunday")

In [48]:
Week_days

['Monday', 'Tuesday', 'Wednessday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [50]:
family_members = []
family_members

[]

In [51]:
family_members.append ("Saqib")
family_members

['Saqib']

In [52]:
family_members.extend (["Abida", "Abeera"])
family_members

['Saqib', 'Abida', 'Abeera']

In [53]:
family_members.insert(3, "Osman")
family_members

['Saqib', 'Abida', 'Abeera', 'Osman']

In [54]:
family_members.extend (["Umer", "Mahirah"])
family_members

['Saqib', 'Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']

In [ ]:
# Indexing and slicing
#indexing
#slicing

In [55]:
family_members

['Saqib', 'Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']

In [57]:
#family_members[1:] will exclude index 0 means name Saqib from the list
family_members[1:]

['Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']

In [58]:
family_members[1:]

['Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']

In [59]:
#family_members[:5] will start from the first name and will end on the index n-1 it means that as the index starts from "0" so it excluded
# the last name "Mahirah" from list. This is called indexing and slicing.
family_members[:5]

['Saqib', 'Abida', 'Abeera', 'Osman', 'Umer']

In [60]:
family_members[:5]

['Saqib', 'Abida', 'Abeera', 'Osman', 'Umer']

In [62]:
#family_members[5] it will print the object corresponding to the index number "5" from the list as can be seen below
#['Saqib', 'Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']

family_members[5]

'Mahirah'

In [ ]:
#Sets has two main charachteristics 
#1)- All entries will be unique 
#2)- It will organise the data by itself in ascending order

In [20]:
Roll_Number=set()
Roll_Number

set()

In [21]:
Roll_Number.add(1)
Roll_Number

{1}

In [22]:
Roll_Number.add(2)
Roll_Number

{1, 2}

In [24]:
Roll_Number.add(7)
Roll_Number

{1, 2, 7}

In [25]:
remove_dups=list[8,5,6,3,2,5,1,8,2,2,3,4,1,1,1,]
remove_dups

list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]

In [27]:
dups_removed=set(remove_dups)
dups_removed

{*list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]}

In [30]:
dups_removed.remove(remove_dups)
dups_removed

KeyError: list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]

In [31]:
remove_dups

list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]

In [32]:
dups_removed=set(remove_dups)
dups_removed

{*list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]}

In [33]:
dups_removed.remove(remove_dups)
dups_removed

KeyError: list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]

In [34]:
dups_removed

{*list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]}

In [35]:
remove_dups

list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]

In [43]:
dup_removed = set (remove_dups)
dup_removed

{*list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]}

In [44]:
remove_dups

list[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]

In [45]:
remove_dup1=[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]
remove_dup1

[8, 5, 6, 3, 2, 5, 1, 8, 2, 2, 3, 4, 1, 1, 1]

In [41]:
type(remove_dup1)

list

In [46]:
dup_remove1 = set (remove_dup1)
dup_remove1

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
# Dictionary: is like a table structure in which the Table Header is called "Key" and the entries under each header are called "Values".
# As "Key" is the header so it will be unique and it can have different "Values" associated with it.
# Three main questions are addressed in this lesson:
# How to construct a dictionary?
# Accessing objects like "Key" and "Values" from the dictionary?
# What are the basic dictionary methods?

In [47]:
my_dic = {"key1" : "Value1" , "key2" : "Value2"}
my_dic

{'key1': 'Value1', 'key2': 'Value2'}

In [59]:
my_dic["key1"]
my_dic

{'key1': 'Value1', 'key2': 'Value2'}

In [60]:
my_dic["key1"]

'Value1'

In [61]:
my_dic["Key1"]

KeyError: 'Key1'

In [63]:
my_dic["key1"]

'Value1'

In [64]:
my_dic["key2"]

'Value2'

In [66]:
my_dic1 = {'roll_number': 123, "subject": ["Science", "maths", "English"], "Marks": [40,70,90]}
my_dic1

{'roll_number': 123,
 'subject': ['Science', 'maths', 'English'],
 'Marks': [40, 70, 90]}

In [67]:
my_dic1["subject"][1]

'maths'

In [70]:
my_dic1["subject"][0].upper()

'SCIENCE'

In [73]:
my_dic1["subject"][1].upper()

'MATHS'

In [78]:
my_dic1["subject"][1].lower()

'maths'

In [79]:
my_dic1["subject"].upper()

AttributeError: 'list' object has no attribute 'upper'

In [81]:
my_dic1["subject"][0].upper()

'SCIENCE'

In [93]:
my_dic1["roll_number"]="910"
2my_dic1

{'roll_number': '910',
 'subject': ['Science', 'maths', 'English'],
 'Marks': [40, 70, 90]}

In [97]:
my_dic1

{'roll_number': ('910', '123'),
 'subject': ['Science', 'maths', 'English'],
 'Marks': [40, 70, 90]}

In [105]:
my_dic1.update({"roll_number":[910,123]})
my_dic1

{'roll_number': [910, 123],
 'subject': ['Science', 'maths', 'English'],
 'Marks': [40, 70, 90]}

In [122]:
my_dic1.pop("roll_number")
my_dic1

{'subject': ['Science', 'maths', 'English'], 'Marks': [40, 70, 90]}

In [124]:
my_dic1={"roll_number":[110,210],'subject': ['Science', 'maths', 'English'], 'Marks': [40, 70, 90]}
my_dic1

{'roll_number': [110, 210],
 'subject': ['Science', 'maths', 'English'],
 'Marks': [40, 70, 90]}

In [129]:
my_dic1.keys()

dict_keys(['roll_number', 'subject', 'Marks'])

In [130]:
my_dic1.values()

dict_values([[110, 210], ['Science', 'maths', 'English'], [40, 70, 90]])

In [133]:
my_dic1.items()
type(my_dic1.items())

dict_items

In [132]:
my_dic1

{'roll_number': [110, 210],
 'subject': ['Science', 'maths', 'English'],
 'Marks': [40, 70, 90]}

In [ ]:
#Branching

In [139]:
item1 = 30
item2 = 20
if (item1 + item2) >= 40:
    print("Your item is eligble for free delivery")

else:
    extra= 40-(item1 + item2)
    print("Please add", extra, "£ worth of an item for free delivery")

Your item is eligble for free delivery

In [140]:
item1 = 20
item2 = 10
if (item1 + item2) >= 40:
    print("Your item is eligble for free delivery")

else:
    extra= 40-(item1 + item2)
    print("Please add", extra, "£ worth of an item for free delivery")

Please add 10 £ worth of an item for free delivery

In [141]:
a=200
b=100
c=300

if a > b and c < a:
    print("True")

else:
    print("False")

False

In [142]:
a=200
b=100
c=300

if a > b or c < a:
    print("True")

else:
    print("False")

True

In [150]:
#Program_2 Using nested If and elif in relation to one variable implicitly

marks = 33
if marks >= 60:
    if marks >= 70:
        print(marks, "Distinction")
    else:
        print(marks, "First Class")

elif 50 < marks < 60:
    print(marks, "Second Class")

elif marks >=40 and marks <= 50:
    print(marks, "Pass")

else:
    print(marks, "You are a dumb")

33 You are a dumb

In [149]:
# use of if and elif in when there are two variables are being used explicitly in accordance with the conditions being applied upon them.
a=20
b=30
if a < 20:
    print("True")
elif b > 25:
    print("This is greater than 25")

This is greater than 25

In [ ]:
#The Range Function

In [157]:
print(range(10))

range(0, 10)

In [158]:
range(10)

range(0, 10)

In [160]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
x = list(range(-10,10,1))
x

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [169]:
y=list(range(1,10))
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [173]:
x=list(range(-10,10,1))
x

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [175]:
salary = list (range(2000,6000,500))
salary

[2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500]

In [176]:
salary=[2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500]
salary

[2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500]

In [179]:
salary=[2000, 2500, 3000, 3500, 4000, 4500, 5000, 5500]
for value in salary:
    if value > 3000:
        print(value)

3500
4000
4500
5000
5500

In [184]:
x = [20,25,30, 45,89,39,100,28]
for value in x:
    if 25 < value < 60:
        print(value)

30
45
39
28

In [185]:
x = [20,25,30, 45,89,39,100,28]
for value in x:
    if value > 25 and value < 60:
        print(value)

30
45
39
28

In [198]:
#Program_3 Using nested If and elif in relation to one variable implicitly

student_scores=[33,45,54,59,62,69,72,99]
for marks in student_scores:
    if marks >= 60:
        if marks >= 70:
            print(marks, "Distinction")

        else:
            print(marks, "First Class")

    elif 50 < marks < 60:
        print(marks, "Second Class")

    elif marks >=40 and marks <= 50:
        print(marks, "Pass")

    else:
        print(marks, "You are a dumb")

33 You are a dumb
45 Pass
54 Second Class
59 Second Class
62 First Class
69 First Class
72 Distinction
99 Distinction

In [6]:
student_scores=[33,45,54,59,62,69,72,99]
for marks in student_scores:
    if marks > 60:
        if marks > 70:
            print(marks, "Distinction")
        else:
            print(marks, "Merit")

    elif 50 < marks < 60:
        print(marks, "Second Class")

    elif 40 < marks < 50:
        print(marks, "Pass")
    else:
         print(marks, "You are fail")

33 You are fail
45 Pass
54 Second Class
59 Second Class
62 Merit
69 Merit
72 Distinction
99 Distinction

In [5]:
x = list(range(100,1000,100))
x

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [10]:
#LIST COMPREHENSION 
# sal = [value for value in salary if value < 500]

[100, 200, 300, 400]

In [11]:
salary = [100, 200, 300, 400, 500, 600, 700, 800, 900]
sal = [value for value in salary if value < 500]
sal

[100, 200, 300, 400]

In [ ]:
#FOR LOOP WITH ELSE

In [27]:
for num in range(15,20):
    print("The muliplication table for", num)
    
    for i in range(1,11):
        print(num, "x", i,"=", num * i)
        if i==10:
            print("\n")
# to print the footer at the bottom of the table            
else:
    print("#" * 30)
    print( "       END OF TABLE      ")
    print("#" * 30)

The muliplication table for 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150


The muliplication table for 16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160


The muliplication table for 17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170


The muliplication table for 18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180


The muliplication table for 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190


##############################
       END OF TABLE
##############################

In [ ]:
#Writing "Saqib" multiple time using while loop

In [38]:
i = 0
while i < 10:
    i = i + 1
    print(i, "   Saqib")

1    Saqib
2    Saqib
3    Saqib
4    Saqib
5    Saqib
6    Saqib
7    Saqib
8    Saqib
9    Saqib
10    Saqib

In [42]:
import time
result = time.localtime()
result

time.struct_time(tm_year=2024, tm_mon=4, tm_mday=29, tm_hour=1, tm_min=49, tm_sec=54, tm_wday=0, tm_yday=120, tm_isdst=1)

In [50]:
while True:
    result=time.localtime()
    if result.tm_hour==1 and result.tm_min==59:
        print("Wake up Call")
        break

Wake up Call

In [52]:
8/5

1.6

In [53]:
17/3

5.666666666666667

In [54]:
17//3

5

In [55]:
17 % 3

2

In [56]:
5**2

25

In [57]:
2*7

14

In [58]:
2**7

128

In [72]:
W=20;
H=5*9;
print("Width W =", W)
print("Hight H =", H)
print("A", "=", "W", "*" , "H")
print("A is " "Area of Rectangle =",A)

Width W = 20
Hight H = 45
A = W * H
A is Area of Rectangle = 900

In [9]:
z= complex(1,2)
print(z)

(1+2j)

In [11]:
a=range(10)
for x in a:
    print(x)

0
1
2
3
4
5
6
7
8
9

# Programme to print tables

#for num in range(15,20):
    print("The muliplication table for", num)
    
    for i in range(1,11):
        print(num, "x", i,"=", num * i)
        if i==10:
            print("\n")
# to print the footer at the bottom of the table            
else:
    print("#" * 30)
    print( "       END OF TABLE      ")
    print("#" * 30)for a in range(5,65,5):
    print(a)
    if i==range(10):
        print("5 x",i, "=",a*i)

In [49]:
x=range(2,5)
for a in x: # a=2,3,4
    print("Multiplication table", a)

    for i in range(1,11):
        print(a,"x",i,"   =", a, a*i)
        if i==10:
            print("\n")

Multiplication table 2
2 x 1    = 2 2
2 x 2    = 2 4
2 x 3    = 2 6
2 x 4    = 2 8
2 x 5    = 2 10
2 x 6    = 2 12
2 x 7    = 2 14
2 x 8    = 2 16
2 x 9    = 2 18
2 x 10    = 2 20


Multiplication table 3
3 x 1    = 3 3
3 x 2    = 3 6
3 x 3    = 3 9
3 x 4    = 3 12
3 x 5    = 3 15
3 x 6    = 3 18
3 x 7    = 3 21
3 x 8    = 3 24
3 x 9    = 3 27
3 x 10    = 3 30


Multiplication table 4
4 x 1    = 4 4
4 x 2    = 4 8
4 x 3    = 4 12
4 x 4    = 4 16
4 x 5    = 4 20
4 x 6    = 4 24
4 x 7    = 4 28
4 x 8    = 4 32
4 x 9    = 4 36
4 x 10    = 4 40

In [72]:
x = range (2,5)
for n in x:
    print("Multiplication table for -", n)

    for i in range(p):
        if p==range(10):
            print(n,"x", p, "=", n*i)
            if i==10:
                print("\n")

Multiplication table for - 2

NameError: name 'p' is not defined

In [73]:
for i in range(1, 11):  # Loop for the 10 multiples
    print(f"Multiplication Table for {i}:")
    for j in range(2, 6):  # Loop for numbers from 2 to 5
        print(f"{j} * {i} = {j*i}")
    print()  # Empty line for separation between tables

Multiplication Table for 1:
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5

Multiplication Table for 2:
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10

Multiplication Table for 3:
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15

Multiplication Table for 4:
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20

Multiplication Table for 5:
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25

Multiplication Table for 6:
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30

Multiplication Table for 7:
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35

Multiplication Table for 8:
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40

Multiplication Table for 9:
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45

Multiplication Table for 10:
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50

In [74]:
for i in range(2,6):  # Loop for the 10 multiples
    print(f"Multiplication Table for {i}:")
    for j in range(1, 11):  # Loop for numbers from 2 to 5
        print(f"{j} * {i} = {j*i}")
    print()  # Empty line for separation between tables

Multiplication Table for 2:
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

Multiplication Table for 3:
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

Multiplication Table for 4:
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

Multiplication Table for 5:
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [78]:
x= range(2,5)
for i in x:
    print("multiplication table of -", i)

    y= range(1,11)
    for j in y:
        print(i,"x", j," i * j)
    print("\n")

IndentationError: unexpected indent (1738731447.py, line 6)

In [79]:
x = range(2, 6)  # Corrected the range to include 5
for i in x:
    print("Multiplication table of -", i)
    y = range(1, 11)
    for j in y:
        print(i, "x", j, "=", i * j)  # Corrected the print statement
    print()  # Added an empty line for separation between tables

Multiplication table of - 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table of - 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table of - 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table of - 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [88]:
x= range(2,5)
for i in x:
    print("multiplication table of -", i)
    y= range(1,11)
    for j in y:
        print(i,"x", j, "=", i * j)
    print()

multiplication table of - 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

multiplication table of - 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

multiplication table of - 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [92]:
for x in range(2,5):
    print("multiplication table of -", x)

    for y in range(1,11):
        print(x,"x", y, "=", x * y)
    print()

multiplication table of - 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

multiplication table of - 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

multiplication table of - 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
#enumerate: The enumerate object yields pairs containing a count (from start, which defaults to zero) and a value yielded by the iterable argument.

In [3]:
students=['Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']
for name in enumerate(students):
    print(name)

(0, 'Abida')
(1, 'Abeera')
(2, 'Osman')
(3, 'Umer')
(4, 'Mahirah')

In [9]:
students=['Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']
for name in enumerate(students,100):
    print(name)

(100, 'Abida')
(101, 'Abeera')
(102, 'Osman')
(103, 'Umer')
(104, 'Mahirah')

# ZIP

In [12]:
Students=['Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']
Student_Marks=list(range(100,200,20))
student_details=list(zip(Students,Student_Marks))
student_details

[('Abida', 100),
 ('Abeera', 120),
 ('Osman', 140),
 ('Umer', 160),
 ('Mahirah', 180)]

# UNZIP

In [21]:
name,marks=zip(*student_details)
name

('Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah')

In [22]:
name,marks=zip(*student_details)
marks

(100, 120, 140, 160, 180)

# BREAK AND CONTINUE

In [25]:
Students=['Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']
for name in Students:
    if name == "Osman":
        print(name)

Osman

In [29]:
Students=['Abida', 'Abeera', 'Osman', 'Umer', 'Mahirah']
for name in Students:
    if name == "Mahirah":
        break
    print(name)

Abida
Abeera
Osman
Umer

In [42]:
salary=list(range(10000,20000,1000))
for val in salary:
    if val<=15000:
        print(val)

10000
11000
12000
13000
14000
15000

In [44]:
salary=list(range(10000,20000,1000))
for val in salary:
    if val==15000:
        break
    print(val)

10000
11000
12000
13000
14000

In [47]:
salary=list(range(10000,20000,1000))
for val in salary:
    if val>15000:
        break
    print(val)

10000
11000
12000
13000
14000
15000

In [77]:
salary=[10000, 11000, 12000, 13000, 5000, 15000, 16000, 17000, 2500, 19000,20000,25000,30000]
for val in salary:
    if val >= 30000:
        break
    print(val)

10000
11000
12000
13000
5000
15000
16000
17000
2500
19000
20000
25000

In [2]:
salary=[10000, 11000, 12000, 13000, 5000, 15000, 16000, 17000, 2500, 19000,20000,25000,30000]
for val in salary:
    if val >= 30000:
        Continue
    print(val)

10000
11000
12000
13000
5000
15000
16000
17000
2500
19000
20000
25000

NameError: name 'Continue' is not defined

In [79]:
def greeeting(name):
    print("Hello    ", name)

In [86]:
greeeting("Abida")

Hello     Abida

In [3]:
def gmarks(marks):
    if marks==33:
        return (marks+2)
    elif marks==34:
        return (marks+1)
    else:
        return marks

In [18]:
score=[31,32,33,34,35,50]

In [19]:
total=list(map(gmarks,score))
print(total)

[31, 32, 35, 35, 35, 50]

In [2]:
import numpy as np